In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [2]:
# train = pd.read_csv('/kaggle/input/facebook-recruiting-iv-human-or-bot/train.csv')
# test = pd.read_csv('/kaggle/input/facebook-recruiting-iv-human-or-bot/test.csv')
# bids = pd.read_csv('/kaggle/input/facebook-recruiting-iv-human-or-bot/bids.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
bids = pd.read_csv('bids.csv')

In [3]:
train.head()

,bidder_id,payment_account,address,outcome
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e233f7b6a7dfdee484a3c120f3b2ita8,4cb9717c8ad7e88a9a284989dd79b98dbevyi,0.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de7675556553a5f08e4c88d2c22857ddh,2a96c3ce94b3be921e0296097b88b56a7x1ji,0.0

In [4]:
test.head()

,bidder_id,payment_account,address
0,49bb5a3c944b8fc337981cc7a9ccae41u31d7,a3d2de7675556553a5f08e4c88d2c228htx90,5d9fa1b71f992e7c7a106ce4b07a0a754le7c
1,a921612b85a1494456e74c09393ccb65ylp4y,a3d2de7675556553a5f08e4c88d2c228rs17i,a3d2de7675556553a5f08e4c88d2c228klidn
2,6b601e72a4d264dab9ace9d7b229b47479v6i,925381cce086b8cc9594eee1c77edf665zjpl,a3d2de7675556553a5f08e4c88d2c228aght0
3,eaf0ed0afc9689779417274b4791726cn5udi,a3d2de7675556553a5f08e4c88d2c228nclv5,b5714de1fd69d4a0d2e39d59e53fe9e15vwat
4,cdecd8d02ed8c6037e38042c7745f688mx5sf,a3d2de7675556553a5f08e4c88d2c228dtdkd,c3b363a3c3b838d58c85acf0fc9964cb4pnfa

In [5]:
bids.head(20)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,0,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,ewmzr,jewelry,phone0,9759243157894736,us,69.166.231.58,vasstdc27m7nks3
1,1,668d393e858e8126275433046bbd35c6tywop,aeqok,furniture,phone1,9759243157894736,in,50.201.125.84,jmqlhflrzwuay9c
2,2,aa5f360084278b35d746fa6af3a7a1a5ra3xe,wa00e,home goods,phone2,9759243157894736,py,112.54.208.157,vasstdc27m7nks3
3,3,3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,jefix,jewelry,phone4,9759243157894736,in,18.99.175.133,vasstdc27m7nks3
4,4,8393c48eaf4b8fa96886edc7cf27b372dsibi,jefix,jewelry,phone5,9759243157894736,in,145.138.5.37,vasstdc27m7nks3
5,5,e8291466de91b0eb4e1515143c7f74dexy2yr,3vi4t,mobile,phone7,9759243157894736,ru,91.107.221.27,vasstdc27m7nks3
6,6,eef4c687daf977f64fc1d08675c44444raj3s,kjlzx,mobile,phone2,9759243210526315,th,152.235.155.159,j9nl1xmo6fqhcc6
7,7,ab056855c9ca9d36390feae1fa485883issyg,f5f6k,home goods,phone8,9759243210526315,id,3.210.112.183,hnt6hu93a3z1cpc
8,8,d600dc03b11e7d782e1e4dae091b084a1h5ch,h7jjx,home goods,phone9,9759243210526315,th,103.64.157.225,vasstdc27m7nks3
9,9,a58ace8b671a7531c88814bc86b2a34cf0crb,3zpkj,sporting goods,phone4,9759243210526315,za,123.28.123.226,vasstdc27m7nks3
10,10,a58ace8b671a7531c88814bc86b2a34cf0crb,z6j8b,sporting goods,phone10,9759243210526315,ng,209.80.85.101,adgjz71s3p2oiau
11,11,fe37b8b29d26021ea9462bcc7c5bf5c2pbya7,jefix,jewelry,phone11,9759243210526315,sd,249.145.124.218,9qikt9049fyukcd
12,12,990db0dcdb665fb8fda5845b3e5d63082mbqq,jefix,home goods,phone12,9759243263157894,in,200.212.4.79,f07dfiidpjifv9w
13,13,7e34a26c4c339e875997f4b9239d2b5fscng4,nbx39,mobile,phone13,9759243263157894,in,143.183.225.33,e5i17pk9wygxewv
14,14,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,wberf,jewelry,phone15,9759243263157894,au,134.243.148.253,vasstdc27m7nks3
15,15,6c8ffec692e88d81e1b18d47818abb04v6llr,3pt0o,home goods,phone3,9759243263157894,id,220.216.170.202,l2585vww95sbk1c
16,16,1a9c554b044c77239b63636008d353d4vy9kh,xk5nb,mobile,phone16,9759243263157894,in,130.252.241.92,z0xsd05zh5z8j7l
17,17,ffbc0fdfbf19a8a9116b68714138f2902cc13,nbx39,mobile,phone17,9759243263157894,in,254.230.31.160,qlbvjmkspxawtn1
18,18,c4856fd5abe8f6d6dea36ca2fec444faauos8,2hkjh,jewelry,phone18,9759243263157894,us,161.0.93.123,9vr179ujwjgoxt3
19,19,37bf6f23b628a3e2b5b22ba81beccbef0efoh,qtmwx,jewelry,phone16,9759243263157894,in,67.52.51.193,r1pn2yun70umqqk

In [6]:
bids['ip'].value_counts()

37.95.134.218      61203
224.130.156.216    53544
13.31.35.207       47666
119.88.125.198     27033
155.184.236.45     26302
105.144.126.10     24180
109.101.133.231    24096
216.197.201.221    23765
68.171.95.214      23360
10.69.195.142      20099
236.63.15.129      19965
57.101.190.69      18947
163.108.18.112     18808
213.225.77.188     18032
230.236.226.213    15697
91.117.186.2       14903
235.213.190.51     13272
127.247.172.237    13153
160.114.155.198    12384
5.146.235.202      12000
199.76.55.169      11119
209.80.85.101      11005
225.236.81.16      11002
115.92.38.21       10963
86.200.121.249     10711
60.82.178.42        9781
50.0.84.108         9501
96.47.143.89        9227
102.15.215.78       8983
80.53.77.69         8788
                   ...
210.102.47.36          1
33.63.139.193          1
86.16.176.205          1
35.187.246.37          1
77.226.70.244          1
181.75.80.68           1
131.165.53.210         1
66.54.31.173           1
233.206.200.114        1
96.135.190.239         1
73.99.88.13            1
169.141.79.68          1
209.112.143.30         1
103.16.249.171         1
210.61.222.149         1
124.167.78.236         1
185.11.77.44           1
131.108.121.11         1
65.157.248.34          1
177.157.227.61         1
76.246.128.181         1
32.120.120.203         1
199.167.21.82          1
226.241.136.30         1
132.135.134.194        1
97.244.189.241         1
177.228.225.166        1
83.241.24.68           1
221.217.113.91         1
39.124.44.239          1
Name: ip, Length: 2303991, dtype: int64

In [7]:
# [bid.loc['bidder_id',idx].nunique() for idx in train[bidder_id]]
n_country = bids.groupby('bidder_id')['country'].nunique().reset_index().rename({'country':'n_country'}, axis = 1)
n_country.head()

                               bidder_id  n_country
0  001068c415025a009fee375a12cff4fcnht8y          1
1  002d229ffb247009810828f648afc2ef593rb          1
2  0030a2dd87ad2733e0873062e4f83954mkj86          1
3  003180b29c6a5f8f1d84a6b7b6f7be57tjj1o          1
4  00486a11dff552c4bd7696265724ff81yeo9v          1

In [8]:
alldata = pd.concat([train,test], sort = False)

In [9]:
alldata = alldata.merge(n_country, on = 'bidder_id', how = 'left')
alldata.reset_index(inplace = True, drop = True)
alldata.head()

,bidder_id,payment_account,address,outcome,n_country
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,6.0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0.0,1.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0.0,1.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e233f7b6a7dfdee484a3c120f3b2ita8,4cb9717c8ad7e88a9a284989dd79b98dbevyi,0.0,1.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de7675556553a5f08e4c88d2c22857ddh,2a96c3ce94b3be921e0296097b88b56a7x1ji,0.0,2.0

In [10]:
alldata.isnull().sum()

bidder_id             0
payment_account       0
address               0
outcome            4700
n_country            99
dtype: int64

In [11]:
alldata.fillna(-1, inplace = True)

In [12]:
alldata['payment_account'] = alldata['payment_account'].apply(lambda x: x[:6])
alldata['address'].apply(lambda x: x[:6]).value_counts()[:20]
alldata['address'] = alldata['address'].apply(lambda x: x[:6])
alldata.head()

,bidder_id,payment_account,address,outcome,n_country
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de,a3d2de,0.0,6.0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de,ae8705,0.0,1.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de,925202,0.0,1.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e,4cb971,0.0,1.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de,2a96c3,0.0,2.0

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
alldata['payment_account'] = le.fit_transform(alldata['payment_account'])
alldata['address'] = le.fit_transform(alldata['address'])
alldata.head()

,bidder_id,payment_account,address,outcome,n_country
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,1631,2657,0.0,6.0
1,624f258b49e77713fc34034560f93fb3hu3jo,1631,2837,0.0,1.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,1631,2380,0.0,1.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,801,1200,0.0,1.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,1631,650,0.0,2.0

In [14]:
y = train['outcome']

In [15]:
alldata.drop(['bidder_id','outcome'], 1, inplace = True)

In [16]:
train = alldata[:len(train)]
test = alldata[len(train):]

In [17]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 100, random_state = 2019, n_jobs = -1)
rf.fit(train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=2019, verbose=0,
                       warm_start=False)

In [18]:
rf_pred = rf.predict_proba(test)
rf_pred

array([[0.99      , 0.01      ],
       [0.97670606, 0.02329394],
       [0.99      , 0.01      ],
       ...,
       [0.92      , 0.08      ],
       [0.96      , 0.04      ],
       [0.80984524, 0.19015476]])

In [19]:
# submission = pd.read_csv('/kaggle/input/facebook-recruiting-iv-human-or-bot/sampleSubmission.csv')
submission = pd.read_csv('sampleSubmission.csv')
submission.head()

                               bidder_id  prediction
0  49bb5a3c944b8fc337981cc7a9ccae41u31d7         0.0
1  a921612b85a1494456e74c09393ccb65ylp4y         0.0
2  6b601e72a4d264dab9ace9d7b229b47479v6i         0.0
3  eaf0ed0afc9689779417274b4791726cn5udi         0.0
4  cdecd8d02ed8c6037e38042c7745f688mx5sf         0.0

In [20]:
submission['prediction'] = rf_pred[:,1]
submission.to_csv('fraud.csv', index = False)